<!-- <h1>Angular App</h1> -->

<!-- <div>
  <a routerLink="about">About</a>
  <a routerLink="contact">Contact</a>
  <a routerLink="dashboard">Dashboard</a>
</div> -->

<div class="landing-img">
  <img src="https://s3-alpha-sig.figma.com/img/20f1/ab14/812305829e8f4c7924e4d52fd50bb1ec?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=B3nOCTmmPaXKyWR0~~9qDFVnlmb8EuNJ6k1wLPQ2hc3J7vSYNQT4z1TOWB88tjGD~g6aH04wYeXak7ZOrH-4JKW4P6wlOabqnmH6P7nRMoVJOeYLpiRaMXeptqMYXuQ-yYZic0QysGl6aONhHgwmRITM9ibjoRjxq-y73fZBrG9JqdhtUJP5aW640PwpsunpLyinaE-0AXrLuNSkJYrJwlkK3ndFs-rBwQuvGBZ~qd02YyCJTtIZQHPKR5y0wplymRpRBAkJD9o1ZWPOoRSMQ~BFdAiGGN9fOV-ocCK1D-23AUsABjqNcwrjNmN2q30flmwLsMJSbTXbkeI2FEI7EA__" alt="">
</div>

<div #reactComponentPlaceholder>

</div>

<router-outlet></router-outlet>